<a href="https://colab.research.google.com/github/sey2on/pythonbasicclass/blob/main/Untitled2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
# 116 page

# for  반복문 , 주로 반복횟수를 명확히 알고 있을 때 사용.

# for 변수 in 반복객체:
#   반복실행

for i in [1,2,3]:
  print(i)

1
2
3

In [6]:
for i in 'Hello':
  print(i)

H
e
l
l
o

In [7]:
for item in ['가위','바위','보']:
  print(item)

가위
바위
보

In [8]:
 # 리스트 내포 : for 문을 이용해서 리스트를 간단히 생성한다. 

[n*2          for n in [1,2,3]]

[2, 4, 6]

In [9]:
[n*2        for n in [1,2,3,4,5]       if n%2 == 1]

[2, 6, 10]

In [10]:
four_seasons = ('Spring','Summer','Autumn','Winter')
for season in four_seasons:
  print(season)

Spring
Summer
Autumn
Winter

In [11]:
# range()
# 정수 범위를 만들어 낼때 유요한 아주 많이 for문과 사용되는 함수

# range(start, stop, step)  # start(0부터), step(1씩 증가) 은 생략 가능

print(list(range(5))) # start생략, step생략 0,1,2,3,4   0부터 5미만
print(list(range(1,11)))#step만 생략 1부터 11미만 
print(tuple(range(5)))

[0, 1, 2, 3, 4]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
(0, 1, 2, 3, 4)

In [12]:
for i in range(5):
  print(i)

0
1
2
3
4

In [13]:
for i in range(1, 11):
  print('Hi')

Hi
Hi
Hi
Hi
Hi
Hi
Hi
Hi
Hi
Hi

In [14]:
for item in {'가위','바위','보'}:
  print(item)

가위
보
바위

In [15]:
person = {
    'name':'에밀리',
    'age':20
}

for item in person:
  print(item)

name
age

In [16]:
person = {
    'name':'에밀리',
    'age':20
}

for item in person:
  print(item, person[item])

name 에밀리
age 20

In [17]:
# 129
#1

for i in range(5,0,-1):
  print(i)

5
4
3
2
1

In [18]:
# 2 

no = int(input('임의의 양수를 입력하세요 >>> '))
sum = 0  # 초기값 설정
for i in range(1,no+1):
  sum = sum + i   # sum += i


print(f'1부터 {no}사이 모든 정수의 합계는 {sum}입니다.')

임의의 양수를 입력하세요 >>> 3
1부터 3사이 모든 정수의 합계는 6입니다.

In [20]:
#3 
no = int(input('몇 개의 과일을 보관할까요? >>> '))
fruits = []
for i in range(1,no+1):
  fruit = input(f'{i}번째 과일을 입력하세요 >>> ')
  fruits.append(fruit)

print(f'입력받은 과일들은 {fruits}입니다.')

몇 개의 과일을 보관할까요? >>> 4
1번째 과일을 입력하세요 >>> apple
2번째 과일을 입력하세요 >>> banana
3번째 과일을 입력하세요 >>> cherry
4번째 과일을 입력하세요 >>> grafe
입력받은 과일들은 ['apple', 'banana', 'cherry', 'grafe']입니다.

In [21]:
#4

exam = [99,78,100,91,81,85,54,100,71,50]

exam2 = []
for i in exam:
  if i >= 95:
    exam2.append(100)
  else:
    exam2.append(i+5)

print(exam2)

[100, 83, 100, 96, 86, 90, 59, 100, 76, 55]

In [22]:
# break

# while 문이나 for문에서 반복을 강제로 종료시킬때 사용

n = 1
while n <= 10:
  print(n)
  n += 1

1
2
3
4
5
6
7
8
9
10

In [23]:
n = 1
while True:
  print(n)
  if n == 10:
    break
  n += 1

1
2
3
4
5
6
7
8
9
10

In [24]:
# continue

# 반복 도중에 continue를 만나면 더이상 아래로 내려가지 않고 
# 다시 반복문으로 진입한다. 

total = 0
for a in range(1,101):
  if a % 3 == 0 : # 3의 배수찾기
    continue      # 3의 배수를 제외한 합
  total += a
print(total)

3367

In [25]:
# page 141
# 1

cash = 10000

while True:
  print(f'현재 {cash}원이 있습니다.')
  if cash == 0:
    break
  pay = int(input('사용할 금액입력 >>> '))
  if pay <= 0:
    print('0 이하의 금액은 사용할 수 없습니다.')
  elif pay > cash:
    print(f'{pay - cash}원이 부족합니다.')
  else:
    cash -= pay # cash = cash - pay

현재 10000원이 있습니다.
사용할 금액입력 >>> 4000
현재 6000원이 있습니다.
사용할 금액입력 >>> 4000
현재 2000원이 있습니다.
사용할 금액입력 >>> 4000
2000원이 부족합니다.
현재 2000원이 있습니다.
사용할 금액입력 >>> 2000
현재 0원이 있습니다.

In [30]:
#2 
while True:
  score = int(input('이번 영화의 평점을 입력하세요 >>> '))

  if score >= 1 and score <= 5:
    print(f'평점 : {score * "★"}')
    break
  else:
    print('평점은 1~5 사이만 입력할 수 있습니다.')

이번 영화의 평점을 입력하세요 >>> 3
평점 : ★★★

In [41]:
password = 'qwerty'
tryno = 0
while True:
  if tryno == 5:
    print('비밀번호 입력 횟수를 초과했습니다.')
    break
  inpass = input('비밀번호를 입력하세요 >>> ')
  if password == inpass:
    print('비밀번호를 맞혔습니다.')
    break
  tryno += 1

비밀번호를 입력하세요 >>> 651
비밀번호를 입력하세요 >>> 321
비밀번호를 입력하세요 >>> 42
비밀번호를 입력하세요 >>> 21
비밀번호를 입력하세요 >>> 2
비밀번호 입력 횟수를 초과했습니다.

In [57]:
#4
#구구단 전체 출력하기

# for i in range (2, 10):
#   for j in range (1,10):
#     print(f'{i}X{j}={i*j}')

#구구단 홀수단 전체 출력하기

# for i in range (3,10,2):
#   for j in range (1,10):
#     print(f'{i}X{j}={i*j}')

  #강사님 풀이

  # for i in range(2,10):
  #   if i % 2 == 0:
  #     continue
  #   for j in range(1,10):
  #     print(f'{i} X {j} = {i*j}')

#3단은 3개 5단은 5개 7단은 7개 9단은 9개 출력하기

for i in range (3,10,2):
  for j in range (1,10):
    if i+1==j :
     break
    print(f'{i}X{j}={i*j}')
  print()


  # 강사님 풀이

# for i in range(2,10):
#   if i % 2 == 0:
#     continue
#   for j in range(1,10):
#     if i < j:
#       break
#     print(f'{i} X {j} = {i*j}')
#   print()

3X1=3
3X2=6
3X3=9

5X1=5
5X2=10
5X3=15
5X4=20
5X5=25

7X1=7
7X2=14
7X3=21
7X4=28
7X5=35
7X6=42
7X7=49

9X1=9
9X2=18
9X3=27
9X4=36
9X5=45
9X6=54
9X7=63
9X8=72
9X9=81