<a href="https://colab.research.google.com/github/sey2on/pythonbasicclass/blob/main/Python_Basic_Day3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
no='31025'
a=no[0]#indexing
b=no[1:3]#slicing
c=no[3:]#slicing
print(a,'학년', b,'반', c,'번')
print(f'{a}학년 {b}반 {c}번')#f스트링

3 학년 10 반 25 번
3학년 10반 25번

In [7]:
no = '서울2가1234'  # 10가1234 , 288가1234
no4 = no[-4:]
print(no,'의 차량번호 4자리는', no4, '입니다.')
print(f'{no} 의 차량번호 4자리는 {no4} 입니다.')

서울2가1234 의 차량번호 4자리는 1234 입니다.
서울2가1234 의 차량번호 4자리는 1234 입니다.

In [6]:
# 3 
s = 'maple'  #가운데 p출력
center = s[len(s) // 2] # // 나머지를 버리고 몫만 취한다 
                     #  % 몫은 버리고 나머지만 취한다 (홀/짝/배)
print(s,'의 가운데 글자는',center,'입니다')
print(f'{s}의 가운데 글자는 {center}입니다.')

maple 의 가운데 글자는 p 입니다
maple의 가운데 글자는 p입니다.

In [12]:
#4
li=[10,20,30,40,50,60,70,80,90.100]
print('3번째 요소부터 7번째 요소 =',li[2:7])
print('3번째 요소부터 7번째 요소 중 2번째 요소',li[2:7][1])

3번째 요소부터 7번째 요소 = [30, 40, 50, 60, 70]
3번째 요소부터 7번째 요소 중 2번째 요소 40

In [16]:
#5
dict={'금요일':'탕수육',
      '토요일':'유산슬',
      '일요일':'팔보채'}
print('금요일:',dict['금요일'])

금요일: 탕수육

In [18]:
# \  따옴표의 기능을 무력화시키고 글자로 표현
# \n 줄바꿈  line feed
# \t 탭      tab

print('Hello \'World\'')
print("Hello 'World'")

print("Hello \"World\"")
print('Hello "World"')

print('*\n**\n***')

print('Hello\nWorld')

print('이름\t연락처')
print('제시카\t01-123-4567')
print('마틴\t010-6789-7890')

Hello 'World'
Hello 'World'
Hello "World"
Hello "World"
*
**
***
Hello
World
이름	연락처
제시카	01-123-4567
마틴	010-6789-7890

In [19]:
# print() 함수

print('재미있는','파이썬')
print('재미있는','파이썬', sep=',') # 구분자
print('재미있는','파이썬', sep='/')
print('재미있는','파이썬', sep=':')

재미있는 파이썬
재미있는,파이썬
재미있는/파이썬
재미있는:파이썬

In [20]:
print('영화 타이타닉')
print('평점', end=' ')
print('5점')

영화 타이타닉
평점 5점

In [21]:
# % 연산자  (비추)

print('%d' % 11)   # %d 정수 10진수 자리표시자 decimal
print('%o' % 10)   # %o 정수 8진수 자리표시자 octal
print('%x' % 10)   # %x 정수 16진수 자리표시자 hexa
print('%f' % 3.14)

print('%s' % 'python')
print('%s' % 3.14)

11
12
a
3.140000
python
3.14

In [22]:
print('%d' % 1)
print('%5d' % 1) #다섯칸을 확보하고 오른쪽에 출력
print('%5d' % 11) #다섯칸을 확보하고 오른쪽부터 출력

1
    1
   11

In [23]:
print('%-5d' % 1) #다섯칸을 확보하고 왼쪽에 출력
print('%-5d' % 11) #다섯칸을 확보하고 왼쪽쪽부터 출력

1
11

In [24]:
print('%5.2f' % 3.14) #다섯칸을 확보하고 소수 2자리까지 오른쪽에 실수출력
print('%5.1f' % 3.14) #다섯칸을 확보하고 소수 1자리까지 오른쪽에 실수출력

 3.14
  3.1

In [25]:
print('%-5.2f' % 3.14) #다섯칸을 확보하고 소수 2자리까지 왼쪽에 실수출력
print('%-5.1f' % 3.14) #다섯칸을 확보하고 소수 1자리까지 왼쪽에 실수출력

3.14
3.1

In [26]:
print('%.2f' % 3.14) #소수 2자리까지 실수출력
print('%.1f' % 3.14) #소수 1자리까지 실수출력

3.14
3.1

In [27]:
print('%s' % 3.14) #소수 1자리까지 실수출력

3.14

In [28]:
a='학생'

# 기본 출력 방법
print(a,'입니다.')

# f string 출력 방법
print(f'{a} 입니다.')

# %  연산자 출력 방법
print('%s 입니다.' % a)

# format() 출력 방법
print('{} 입니다.'.format(a))

학생 입니다.
학생 입니다.
학생 입니다.
학생 입니다.

In [29]:
# format() 매서드

print('My name is {}'.format('James'))

My name is James

In [30]:
print('My name is {0}'.format('James'))

My name is James

In [31]:
print('My name is {name}'.format(name='James'))

My name is James

In [32]:
print('My name is {}. I\'m {} years old.'.format('James', 20))

My name is James. I'm 20 years old.

In [33]:
print('My name is {1}. I\'m {0} years old.'.format('James', 20)) #1번째를 앞에 0번째로 앞에 이렇게 쓸 수 있음

My name is 20. I'm James years old.

In [34]:
print('My name is {name}. I\'m {age} years old.'.format(name='James', age=20))

My name is James. I'm 20 years old.

In [35]:
# f-strings

who = 'you'
how = 'happy'

print(f'{who} make me {how}')

you make me happy

In [36]:
age=25
print(f'내년엔 {age+1}가 됩니다.')

내년엔 26가 됩니다.

In [39]:
# 표준입력

a = input()
print(a)

sdf
sdf

In [40]:
n = input('정수를 입력하세요 : ')
print(n)

정수를 입력하세요 : df
df

In [43]:
n = input('정수를 입력하세요 : ')
print('입력한 정수는', n,'입니다.')

n = input('정수를 입력하세요 : ')
print(f'입력한 정수는 {n} 입니다.')

n = input('정수를 입력하세요 : ')
print('입력한 정수는 %s 입니다.' %n)

n = input('정수를 입력하세요 : ')
print('입력한 정수는 {} 입니다.'.format(n))

정수를 입력하세요 : 12
입력한 정수는 12 입니다.
정수를 입력하세요 : 35
입력한 정수는 35 입니다.
정수를 입력하세요 : 65
입력한 정수는 65 입니다.
정수를 입력하세요 : 7
입력한 정수는 7 입니다.

In [46]:
name = input('이름을 입력하세요 >>> ')
age = input('나이를 입력하세요 >>> ')

print('입력된 이름은 {}입니다.'.format(name))
print('입력된 나이는 {}입니다.'.format(age))

print('입력된 이름은 %s입니다.'%name)
print('입력된 나이는 %s입니다.'%age)

print('입력된 이름은', name, '입니다.')
print('입력된 나이는', age, '입니다.')

print(f'입력된 이름은 {name}입니다.')
print(f'입력된 나이는 {age}입니다.')

이름을 입력하세요 >>> 박세연
나이를 입력하세요 >>> 25
입력된 이름은 박세연입니다.
입력된 나이는 25입니다.
입력된 이름은 박세연입니다.
입력된 나이는 25입니다.
입력된 이름은 박세연 입니다.
입력된 나이는 25 입니다.
입력된 이름은 박세연입니다.
입력된 나이는 25입니다.