<a href="https://colab.research.google.com/github/sey2on/pythonbasicclass/blob/main/Python_Basic_Day9.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# 클래스  class  객체 object
# c언어에는 클래스가 없다 <- 클래스가 필수는 아니다.

In [14]:
result1 = 0

def add1(num):
  global result1  # 전역변수
  result1 += num
  return result1

result2 = 0

def add2(num):
  global result2  # 전역변수
  result2 += num
  return result2


print(add1(3))
print(add1(4))

print(add2(2))
print(add2(5))

3
7
2
7

In [15]:
print(add1(3))
print(add2(5))

10
12

In [17]:
class Calculator: # 위 방식대로가 아니라 객체만 호출하면 됨 붕어빵 틀임
  def __init__(self): #__init__ 생성자는 객체를 생성할 때 자동으로 호출
    self.result=0
  def add(self, num): #self 는 호출한 그 객체를 말한다.
     self.result += num
     return self.result #self 는 호출한 그 객체를 말한다.


cal1 = Calculator()
cal2 = Calculator()

In [24]:
cal1.add(2)#cal1객체 생성. Calculator 라는 class에서 찍어냄

10

In [26]:
cal2.add(2)

8

In [ ]:
class FourCal__1: #빈껍데기 클래스
  pass #비워두고 싶을 때

In [ ]:
a=FourCal__!() #빈껍데기 객체 동작은 없음

In [27]:
class FourCal:
  def setdata(self, first, second): #setdata라는 메소드 self = a(객체의 이름), first = 4, second = 2

    self.first = first #a.first=4
    self.second = second #a.second=2

In [34]:
a=FourCal()
b=FourCal()

In [36]:
a.setdata(4,2) #메소드 호출 에엥 인수는 3개인데 2개?? -> self = a(객체의 이름), first = 4, second = 2
b.setdata(3,5)

In [37]:
print(a.first)
print(a.second)
print(b.first)
print(b.second)

4
2
3
5

In [38]:
class FourCal:
  def setdata(self, first, second):  # self = a(객체의이름), first = 4, second = 2
    self.first = first   # a.first = 4
    self.second = second # a.second = 2

  def add(self):
    result = self.first + self.second
    return result

In [39]:
a = FourCal()
a.setdata(4,2)
print(a.first)
print(a.second)

4
2

In [40]:
print(a.add())

6

In [41]:
b = FourCal()
b.setdata(3,5)
print(b.first)
print(b.second)
print(b.add())

3
5
8

In [42]:
class FourCal: #4칙연산
  def setdata(self, first, second):  # self = a(객체의이름), first = 4, second = 2
    self.first = first   # a.first = 4
    self.second = second # a.second = 2

  def add(self):
    result = self.first + self.second
    return result

  def mul(self):
    result = self.first - self.second
    return result

  def sub(self):
    result = self.first * self.second
    return result

  def div(self):
    result = self.first / self.second
    return result

In [43]:
c  = FourCal()
c.setdata(1,2)
print(c.add())
print(c.mul())
print(c.sub())

3
-1
2

In [45]:
class FourCal:
  def __init__(self, first, second): #생성자
    self.first = first
    self.second = second
    
  def setdata(self, first, second):  # self = a(객체의이름), first = 4, second = 2
    self.first = first   # a.first = 4
    self.second = second # a.second = 2

  def add(self):
    result = self.first + self.second
    return result

  def mul(self):
    result = self.first * self.second
    return result

  def sub(self):
    result = self.first - self.second
    return result

  def div(self):
    result = self.first / self.second
    return result

In [ ]:
 # 생성자     __init__

In [48]:
d = FourCal(1,2)
print(d.add())
print(d.mul())
print(d.div())

3
2
0.5

In [ ]:
#상속 inheritance
#어떤 클래스를 만들때 다른 클래스의 기능을 물려받을 수 있는 기능
#보통 상속은 기존 클래스를 변경하지 않고 기능을 추가하거나
#기존 기능을 변경하려고 할때 사용된다.

In [53]:
class MoreFourCal(FourCal):
  def pow(self):
    result = self.first ** self.second
    return result

e = MoreFourCal(3,2)

In [51]:
print(e.add())
print(e.pow())

5
9

In [54]:
# 매서드 오버라이딩 mathod overriding

a=FourCal(4,0)
a.div() #0으로 나누면 에러가 발생하는 오류가 있어서 상속을 받을 때 if문으로 0으로 나눌 수 있게 해결
#0으로 나누면 에러가 발생=> ZeroKivisionError

ZeroDivisionError: ignored

In [56]:
class SafeFourCal(FourCal):
  def div(self): #자식의 div로 호출->매서드 오버라이딩. 부모의 기능에 덮어씀
    if self.second == 0: #만약 0으로 나누라고 하면 0을 리턴
      return 0
    else:
      return self.first / self.second

f=SafeFourCal(4,0)
f.div()

0

In [57]:
#클래스 변수 (객체변수가 더 중요함)

#객체변수는 다른 객체들에 영향을 받지 않고 독립적으로 그 값을 유지한다는 것이 중요하다.
#클래스 변수는 객체 생성 없이도 사용할 수 있다. 객체를 안찍고 사용 가능
#실무에서는 클래스 변수보다는 객체 변수를 사용하는 비율이 훠어어어얼씬 높다.

class Family :
  lastname="김" #클래스 변수 선언 
#클래스로 접근 가능
Family.lastname

'김'

In [58]:
a=Family()
b=Family()
#객체로 접근 가능
print(a.lastname)
print(b.lastname)

김
김

In [59]:
Family.lastname="박"

In [60]:
print(a.lastname)
print(b.lastname)#전부 공유해서 결과가 박, 박 으로 나옴

박
박

In [61]:
class Book:
  def print_info(self):
    print(f'책 제목: {self.bookn}')
    print(f'책 저자: {self.booka}')
  def set_info(self, bookn, booka):
    self.bookn = bookn
    self.booka = booka

book1 = Book()
book2 = Book()

book1.set_info('파이썬','민경태')
book2.set_info('어린왕자','생택쥐배리')

book1.print_info()
book2.print_info()

책 제목: 파이썬
책 저자: 민경태
책 제목: 어린왕자
책 저자: 생택쥐배리

In [64]:
# 예외 처리 Exception 

a = int(input('제수를 입력하세요'))
b = int(input('피제수를 입력하세요'))

if b==0:
  print('0으로 나누는 것은 불가능합니다.')#에러나기 전에 불가능하다고 메세지 줌
else: 
  print(a/b) # 위 if문을 쓰지 않고 0입력하면 에러남 그래서 예외처리를 해줘야 좋음

제수를 입력하세요2
피제수를 입력하세요0
0으로 나누는 것은 불가능합니다.

In [69]:
try:
  a=int(input('제수를 입력하세요'))
  b=int(input('피제수를 입력하세요'))
  print(a/b)
except ZeroDivisionError:
  print('0으로 나누는 것은 불가능합니다.')
except ValueError:#에러명을 적어주면 해당 에러에 대해 출력되는 문구가 다름
  print('정수만 입력할수 있습니다.')
except Exception:#뭔 에러인지 모를 때
  print('알수 없는 예외가 발생했습니다.')

제수를 입력하세요2
피제수를 입력하세요0
0으로 나누는 것은 불가능합니다.

In [65]:
a = [10,20,30,40,50]
try:
  a[10]
except IndexError:
  print("에러발생")

에러발생

In [66]:
a = [10,20,30,40,50]
try:
  a[10]
except IndexError as e:
  print(e)

list index out of range

In [67]:
try:
  a = int(input('제수를 입력하세요'))
  b = int(input('피제수를 입력하세요'))
  result = a / b
except ZeroDivisionError:
  print('0으로 나누는 것은 불가능합니다.')
except ValueError:
  print('정수만 입력할수 있습니다.')
except Exception:
  print('알수 없는 예외가 발생했습니다.')
else:  # 예외가 발생하지 않았을 경우 접근
  print(result)
finally: # 예외 발생 여부와는 상관없이 항상 마지막에 접근
  print('프로그램을 종료합니다.')

제수를 입력하세요2
피제수를 입력하세요0
0으로 나누는 것은 불가능합니다.
프로그램을 종료합니다.

In [68]:

# 강제 예외 발생

try:
  raise Exception('강제 예외 발생')
except Exception as e:
  print('발생 한 예외 메세지')
  print(e)

발생 한 예외 메세지
강제 예외 발생

In [78]:
# page 306 
# 2

import random

class UpDown():
  def __init__(self):#아하 이게 객체구나
    self.answer=random.randint(1,100)#1에서 100까지 랜덤으로 생성
    self.count=0 #몇번만에 맞췄는지 알기 위해 count 생성자

  def play(self):
    while True:
      try:
        no = self.challenge()  #no로 chllenge 호출 입력받은걸 받음
      except Exception as e:
        print(e)
      else:
        if self.answer < no:
          print('Down!')
        elif self.answer > no:
          print('Up!')
        else:
          print(f'{self.count}번만의 정답니다.')
          break

  def challenge(self): #play가 challenge를 호출하고, challenge로 입력 받음
    self.count +=1 #몇번 시도했는지 알기 위해 여기에 +1을 넣음
    no=int(input('입력(1~100)>>>'))
    if no<1 or no>100: #1~100가 아니면 에러메세지 출력
      raise Exception('1~100사이만 입력하세요')
    return no #에러 없으면 입력받은걸 처리



game = UpDown()
game.play()#play 메소드가 필요

입력(1~100)>>>50
Down!
입력(1~100)>>>25
Up!
입력(1~100)>>>38
Up!
입력(1~100)>>>43
Up!
입력(1~100)>>>48
Down!
입력(1~100)>>>46
Down!
입력(1~100)>>>45
Down!
입력(1~100)>>>44
8만의 정답니다.