<a href="https://colab.research.google.com/github/sey2on/pythonbasicclass/blob/main/Python_Basic_Day5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#조건문 if
# 조건문은 특정 조건을 만족하는지 여부에 따라 실행되는 코드가 달라진다. 
a=-1
if a>0:
  print('양수')

In [ ]:
a=1
if a>=0:
  print('양수')
else:
    print('음수')

양수

In [ ]:
a = 1
if a > 0:
  print('양수')
elif a == 0:
  print('0')
else:
  print('음수')

양수

In [ ]:
# page 99
#1

score = int(input('점수를 입력하세요 >>> '))

if score >= 90:
  print(f'점수는 {score}점이고, 학점은 A학점입니다.')
elif score >= 80:
  print(f'점수는 {score}점이고, 학점은 B학점입니다.')
elif score >= 70:
  print(f'점수는 {score}점이고, 학점은 C학점입니다.')
elif score >= 60:
  print(f'점수는 {score}점이고, 학점은 D학점입니다.')
else:
  print(f'점수는 {score}점이고, 학점은 F학점입니다.')

점수를 입력하세요 >>> 46
점수는 46점이고, 학점은 F학점입니다.

In [ ]:
score = int(input('점수를 입력하세요 >>> '))

if score >= 90:
  hak = 'A'
elif score >= 80:
  hak = 'B'
elif score >= 70:
  hak = 'C'
elif score >= 60:
  hak = 'D'
else:
  hak = 'F'

print(f'점수는 {score}점이고, 학점은 {hak}학점입니다.')

점수를 입력하세요 >>> 78
점수는 78점이고, 학점은 C학점입니다.

In [ ]:
#2
num = int(input('점수를 입력하세요 >>> '))
if num%3==0:
  print(f'{num}은 3의 배수입니다.')
else:
  print(f'{num}은 3의 배수가 아닙니다.')

점수를 입력하세요 >>> 12
12은 3의 배수입니다.

In [ ]:
# 3
no1 = int(input('정수 1입력 >>> '))
no2 = int(input('정수 2입력 >>> '))
no3 = int(input('정수 3입력 >>> '))

if no1 > no2 and no1 > no3:
  print(f'가장 큰수는 {no1}입니다.')
elif no2 > no1 and no2 > no3:
  print(f'가장 큰수는 {no2}입니다.')
else:
  print(f'가장 큰수는 {no3}입니다.')

정수 1입력 >>> 2
정수 2입력 >>> 5
정수 3입력 >>> 6
가장 큰수는 6입니다.

In [ ]:
no1 = int(input('정수 1입력 >>> '))
no2 = int(input('정수 2입력 >>> '))
no3 = int(input('정수 3입력 >>> '))

if no1 > no2 and no1 > no3:
  max = no1
elif no2 > no1 and no2 > no3:
  max = no2
else:
  max = no3

print(f'가장 큰수는 {max}입니다.')

정수 1입력 >>> 5
정수 2입력 >>> 4
정수 3입력 >>> 9
가장 큰수는 9입니다.

In [ ]:
#4
no = input('차량번호를 입력하세요 >>> ')

if int(no[-1])% 2 == 0:
  print(f"차량번호 '{no}'는 오늘 운행가능입니다.")
else:
  print(f"차량번호 '{no}'는 오늘 운행불가입니다.")

차량번호를 입력하세요 >>> 651가1239
차량번호 '651가1239'는 오늘 운행불가입니다.

In [ ]:
# 반복문
# while 반복획수가 불명확할때 주로 사용
# for   반복횟수가 명확할때 주로 사용 

        # while 조건식:
        #   반복실행문

# while True:  #무한반복
#   print('Hello Python')

In [28]:
n = 1 

while n <= 10:
  print(n)
  n += 1

1
2
3
4
5
6
7
8
9
10

In [29]:
n = 10

while n >= 1:
  print(n)
  n -= 1

10
9
8
7
6
5
4
3
2
1

In [30]:
day = 1
while day <= 5:
  hour = 1
  while hour <= 3:
    print(f'{day}일차 {hour}입니다.')
    hour += 1
  day +=1

1일차 1입니다.
1일차 2입니다.
1일차 3입니다.
2일차 1입니다.
2일차 2입니다.
2일차 3입니다.
3일차 1입니다.
3일차 2입니다.
3일차 3입니다.
4일차 1입니다.
4일차 2입니다.
4일차 3입니다.
5일차 1입니다.
5일차 2입니다.
5일차 3입니다.

In [35]:
no = int(input('정수를 입력하세요 >>>'))

if no <= 0:
  print('잘못된 입력입니다.')
else:
  while no > 0:
    print(f'{no}번째 Hello')
    no -= 1

정수를 입력하세요 >>>5
5번째 Hello
4번째 Hello
3번째 Hello
2번째 Hello
1번째 Hello

In [37]:
#위의 출력에서 결과를 거꾸로 출력하려면
no = int(input('정수를 입력하세요 >>>'))

if no <= 0:
  print('잘못된 입력입니다.')
else:
  n = 0
  while no > n:
    print(f'{n+1}번째 Hello')
    n += 1

정수를 입력하세요 >>>5
1번째 Hello
2번째 Hello
3번째 Hello
4번째 Hello
5번째 Hello