<a href="https://colab.research.google.com/github/sey2on/pythonbasicclass/blob/main/Python_Basic_Day2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#3 기본 자료형
int 정수 1, 2, 3, 4
float 실수 3.14, 2.15
bool 논리 True, False
str 문자열 '홍길동', '슈가'

In [ ]:
a = 10 #알아서 정수로 담아줌

# 1. 정수 int
int(1.9) # 0.9는 날아감 1만 담아짐

In [1]:
int(True)#1

1

In [2]:
int(False)#0

0

In [3]:
int('100')#문자 취급한 100을 정수로 입력
int("200")#'와 "는 같음

100

In [ ]:
input은 모든 입력을 문자로만 받는다 123입력하면 '123'

In [12]:
# 2. 실수 float
float(1)

1.0

In [11]:
float(True)

1.0

In [10]:
float(False)

0.0

In [9]:
float('3.14')

3.14

In [ ]:
# 논리 bool, boolean True or False

bool(0)

In [5]:
bool(1)

True

In [6]:
bool('')

False

In [7]:
bool('1')

True

In [8]:
bool([1,2,3])#list

True

In [13]:
# 4  문자열 str, string

a = '대한\n민국'
print(a)
b = "한국"

a = '''대한
민국'''
b = """대한
민국"""

print(a)

대한
민국
대한
민국

In [14]:
str(100)

'100'

In [15]:
str(True)

'True'

In [16]:
str(False)

'False'

In [17]:
str(3.14)

'3.14'

In [20]:
# 문자열 인덱싱 indexing
# 인덱싱은 문자열을 구성하는 모든 문자에 부여한 고유의 번호이다.

s='hello'
print(s[4]) # 인덱스의 시작은 0이다.
# h e l l o
# 0 1 2 3 4 각 문자의 인덱스 번호

o

In [21]:
#  h  e  l  l  o
# -5 -4 -3 -2 -1
s='hello'
print(s[-1])

o

In [22]:
# 문자열 슬라이싱 slicing
# 문자열의 인덱스를 사용하여 한문자 이상으로 구성된 단어나 문장을 추출

s='banana'
s[0:3]# 0번째부터 3번째 문자미만

'ban'

In [23]:
addr = '서울시 강남구 역삼동 1번지'#띄어쓰기도 글자임
print(addr[4:7])

강남구

In [ ]:
# 4 컬렉션 Collection
# '여러 값을 하나의 이름으로 묶어서 관리하는 자료형'
# 리스트, 튜플, 딕셔너리, 셋

In [ ]:
# 리스트 list
# 리스트는 여러 값을 저장할때 가장 많이 사용되는 자료형이다.
# 특징
# 1. 대괄호로 생성한다. []
# 2. 여러가지 자료형을 하나의 리스트로 생성할 수 있다. 좋지는 않음
# 3. mutable 한 속성을 갖는다. (수정, 삭제가 가능하다.)
# 4. indexing, slicing 이 가능하다.

In [25]:
list1 = [1,2,3,4]
list2 = [1,2,3,'대','한',True] #한가지 형만 담는게 좋음

In [26]:
li = [100, 3.14, 'hello']
li[2]

'hello'

In [28]:
li[0:3]

[100, 3.14, 'hello']

In [29]:
# append() - 리스트에 데이터를 추가
scores = [50,40,30]
scores.append(100) #리스트에 값을 집어넣음
scores

scores2(50,40,30) #튜플을 만들때는 ()소괄호를 사용한다.

[50, 40, 30, 100]

In [ ]:
# insert() - 리스트에 데이터를 추가
scores.insert(0,100) #특정 위치에 값을 집어넣음 0번째에 100을 추가
scores

In [32]:
# pop() - 리스트에서 데이터 삭제
scores.pop(0)
scores

[30, 100]

In [33]:
# 튜플 tuple
# 저장된 값을 변경할 수 없는 리스트

# 특징
# 1. 소괄호로 생성한다. () 튜플은 괄호 생략 가능
# 2. 여러가지 자료형을 하나의 튜플로 생성할 수 있다. (?)
# 3. immutable 한 속성을 갖는다. (수정, 삭제가 가능하다.)
# 4. indexing, slicing 이 가능하다.
# 5. 1개의 원소를 갖는 튜플을 생성할때는 , 쉼표를 붙인다.

li = [1]
print(li)
print(type(li))

[1]
<class 'list'>

In [36]:
# tu = (1)
# print(tu)
# print(type(tu))

tu = (1,)
print(tu)
print(type(tu))

[1]
<class 'list'>

In [50]:
tu = 1,2,3,4,5
type(tu)

tuple

In [51]:
tu.append(6)

AttributeError: ignored

In [52]:
tu.pop()

AttributeError: ignored

In [53]:
tu = 1,2,3,4,5
tu[0]

1

In [54]:
tu[0:3]

(1, 2, 3)

In [37]:
# 셋 Set

# 특징
# 1. 중괄호로 생성한다. {}
# 2. 여러가지 자료형을 하나의 셋로 생성할 수 있다. (?)
# 3. mutable 한 속성을 갖는다. (수정, 삭제가 가능하다.)
# 4. indexing, slicing 이 불가능하다. 순서가 없다.
# 5. 중복된 데이터를 함께 저장할 수 없다. (중복 불가능) 이 특징을 사용하기 위해 set을 사용

set = {1,1,2,3}
set

{1, 2, 3}

In [38]:
set.add(4) #4를 추가
set

{1, 2, 3, 4}

In [39]:
set.remove(3) #3을 삭제
set

{1, 2, 4}

In [55]:
# dict 딕셔너리 키값과 밸류값의 쌍으로 데이터를 저장하는 자료형
# 자바에서의 map, JS에서의 json 과 유사한 파이썬의 자료형
# 특징
# 1. 중괄호로 생성한다. {} set은 원소가 1개1개씩들어감
# 2. 여러가지 자료형을 하나의 딕셔너리로 생성할 수 있다. (?)
# 3. mutable 한 속성을 갖는다. (수정, 삭제가 가능하다.)
# 4. indexing, slicing 이 불가능하다. 순서가 없다. set과의 공통점
# 5. 키와 밸류로 구분한다.

dict={'name':'홍길동', 'age':24}

d = {'a':'apple', 'b':'banana'}
d['b']

'banana'

In [56]:
d['c'] = 'cherry'
d

{'a': 'apple', 'b': 'banana', 'c': 'cherry'}

In [57]:
d['c'] = '체리'
d

{'a': 'apple', 'b': 'banana', 'c': '체리'}

In [58]:
d.pop('c')
d

{'a': 'apple', 'b': 'banana'}

In [45]:
# mutable:리스트 셋 딕셔너리
# immutable : 튜플 정수 실수 문자열

me=[1,2,3]
id(me) #실제 데이터가 저장된 메모리 위치

140321964689360

In [46]:
me.append(4)
id(me) #추가됐지만 메모리의 위치는 같음

140321964689360

In [47]:
me

[1, 2, 3, 4]

In [49]:
#immutable
me=10
id(me)
# type(me) 무슨 형인지 알려줌

94906170166048

In [59]:
me += 1  # me = me + 1   , (자바)me ++
id(me)  # 메모리의 주소가 바뀐것을 확인할 수 있다.

94906170166080