<a href="https://colab.research.google.com/github/sey2on/pythonbasicclass/blob/main/Python_Basic_Day4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# input() 함수를 사용할 때 주의할 점
# input()은 모든 입력을 str(문자열)로 저장한다는 점이다. 
# 따라서 숫자를 입력해도 문자로 받아들인다. 

n = input('정수를 입력하세요 >>>')
print(type(n))

정수를 입력하세요 >>>3
<class 'str'>

In [2]:
n = int(input('정수를 입력하세요 >>>')) # 형변환이 필요하다. casting
print(type(n))

정수를 입력하세요 >>>43
<class 'int'>

In [3]:
price = 50000
n = int(input('할부 개월 입력 >>>'))
print('매달 내는 돈은 {}입니다.'.format(price/n))

할부 개월 입력 >>>2
매달 내는 돈은 25000.0입니다.

In [4]:
price = 50000
n = input('할부 개월 입력 >>>')
print('매달 내는 돈은 {}입니다.'.format(price/n))

할부 개월 입력 >>>4

TypeError: ignored

In [5]:
# 1
a = input('첫 번째 실수를 입력하세요 >>>')
b = input('두 번째 실수를 입력하세요 >>>')

print(f'{a}와 {b}의 합은 {a+b}입니다.')

첫 번째 실수를 입력하세요 >>>2.56
두 번째 실수를 입력하세요 >>>32.
2.56와 32.의 합은 2.5632.입니다.

In [6]:
a = float(input('첫 번째 실수를 입력하세요 >>>'))
b = float(input('두 번째 실수를 입력하세요 >>>'))

print(f'{a}와 {b}의 합은 {a+b}입니다.')

첫 번째 실수를 입력하세요 >>>1.23
두 번째 실수를 입력하세요 >>>2.56
1.23와 2.56의 합은 3.79입니다.

In [7]:
# 2

month = [31,28,31,30,31,30,31,31,30,31,30,31]
#        0   1  2  3  index는 0에서 시작한다.        
a = int(input('1~12 사이의 월을 입력하세요 >>>'))
print(f'{a}월은 {month[a-1]}일까지 있습니다.')

1~12 사이의 월을 입력하세요 >>>6
6월은 30일까지 있습니다.

In [8]:
# 3
english_dict = {
    'flower':'꽃',
    'fly':'날다',
    'floor':'바닥'
}
word = input('영어 단어를 입력하세요 >>>')
print(f'{word} : {english_dict[word]}')

영어 단어를 입력하세요 >>>flower
flower : 꽃

In [10]:
# 복합 대입 연산자. 
a = 1
print(a)

#a=a+1  a++(이건 안씀)
a += 1 #많이씀 자기 자신에 1을 증가
print(a)
a+=1
print(a)
a=a-1 #자기 자신에 1을 감소
print(a)
a-=1
print(a)

1
2
3
2
1

In [12]:
a, b = 10, 20
print('a = %d, b = %d' % (a,b))

a, b = b, a
print('a = %d, b = %d' % (a,b))

a = 10, b = 20
a = 20, b = 10

In [13]:
a = 10
b = 20

t = a
a = b
b = t
print('a = %d, b = %d' % (a,b))

a = 20, b = 10

In [14]:
1==1

True

In [15]:
1!=1

False

In [16]:
1<>1#같지 않다라는 뜻임 근데 파이썬에서는 안씀

SyntaxError: ignored

In [17]:
#시퀀스 연산자:순서가 있는 구조 시퀀스(리스트, 튜플, 문자열, range) 에서 사용된다.
[1,3,5]+[2,4,6]

[1, 3, 5, 2, 4, 6]

In [19]:
'hello'+' '+'python'

'hello python'

In [20]:
[1,3,5]*2

[1, 3, 5, 1, 3, 5]

In [21]:
'-'*50

'--------------------------------------------------'

In [22]:
#멤버쉽 연산자
5in[1,2,3,4,5]

True

In [23]:
5 not in[1,2,3,4,5]

False

In [24]:
'a'in'apple'

True

In [25]:
'a'in{'a':'apple','b':'banana'}

True

In [26]:
#응용예제 p86
no=input('10~99사이의 정수를 입력하세요>>>')

print(f'십의자리:{no[0]}')
print(f'일의자리:{no[1]}')

10~99사이의 정수를 입력하세요>>>78
십의자리:7
일의자리:8

In [31]:
#응용예제 p86
no=int(input('10~99사이의 정수를 입력하세요>>>'))

print(f'십의 자리 : {no//10}')
print(f'일의 자리 : {no%10}')

10~99사이의 정수를 입력하세요>>>45
십의 자리 : 4
일의 자리 : 5

In [47]:
#2

no=int(input('초를 입력하세요>>>'))
# cho=3690
# hour=3690//3600
# minute=3590%3600 // 60
# second=cho%60
print(f'변환 결과는 {no//3600}시간 {no%3600//60}분 {no%60}초입니다.')

초를 입력하세요>>>3690
변환 결과는 1시간 1분 30초입니다.

In [55]:
#3
no=int(input('4자리 사원번호를 입력하세요>>>'))
no_1=no%10
if no%10>=5:
  print('근무시간은 오전입니다.')
else :
  print('근무시간은 오후입니다.')

4자리 사원번호를 입력하세요>>>1233
근무시간은 오후입니다.

In [57]:
# 조건문 IF
# 조건문은 특정 조건을 만족하는지의 여부에 따라 실행되는 코드가 달라져야 할때 사용

a= 0

if a > 0:
  print('양수')