<a href="https://colab.research.google.com/github/sey2on/pythonbasicclass/blob/main/%EB%84%A4%EC%9D%B4%EB%B2%84_%EC%98%81%ED%99%94_%ED%81%AC%EB%A1%A4%EB%A7%81.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import requests                     # 웹으로 사이트 연결
from bs4 import BeautifulSoup as bs # 데이터 정제 
import pandas as pd                 # 데이터 분석

In [3]:
html = requests.get('https://movie.naver.com/movie/sdb/rank/rmovie.naver?sel=pnt&date=20220317')
soup = bs(html.text)

In [4]:
len(soup.select('tr'))

60

In [5]:
len(soup.select('td.title'))

50

In [6]:
movies = soup.select('td.title')

In [7]:
movies[0]

<td class="title">
<div class="tit5">
<a href="/movie/bi/mi/basic.naver?code=191613" title="클라우스">클라우스</a>
</div>
</td>

In [8]:
movies[0].text

'\n\n클라우스\n\n'

In [9]:
movies[2].text.strip()

'그린 북'

In [10]:
movielist = []
rank = 1

movies = soup.select('td.title')

for each in range(len(movies)):
  title = movies[each].text.strip()
  movielist.append(["네이버영화순위",rank, title])
  rank += 1  # rank = rank + 1    

df = pd.DataFrame(movielist, columns = ['','순위','영화제목'])      
df

             순위                       영화제목
0   네이버영화순위   1                       클라우스
1   네이버영화순위   2                장민호 드라마 최종회
2   네이버영화순위   3                       그린 북
3   네이버영화순위   4                       가버나움
4   네이버영화순위   5                         밥정
5   네이버영화순위   6     디지몬 어드벤처 라스트 에볼루션 : 인연
6   네이버영화순위   7                    베일리 어게인
7   네이버영화순위   8                         원더
8   네이버영화순위   9                        아일라
9   네이버영화순위  10              극장판 바이올렛 에버가든
10  네이버영화순위  11                    먼 훗날 우리
11  네이버영화순위  12                         당갈
12  네이버영화순위  13                   포드 V 페라리
13  네이버영화순위  14  그대, 고맙소 : 김호중 생애 첫 팬미팅 무비
14  네이버영화순위  15                        주전장
15  네이버영화순위  16                     쇼생크 탈출
16  네이버영화순위  17               터미네이터 2:오리지널
17  네이버영화순위  18                         덕구
18  네이버영화순위  19                        클래식
19  네이버영화순위  20                    나 홀로 집에
20  네이버영화순위  21                 라이언 일병 구하기
21  네이버영화순위  22                        월-E
22  네이버영화순위  23                       씽2게더
23  네이버영화순위  24                   보헤미안 랩소디
24  네이버영화순위  25                   빽 투 더 퓨쳐
25  네이버영화순위  26                  사운드 오브 뮤직
26  네이버영화순위  27                    포레스트 검프
27  네이버영화순위  28                     글래디에이터
28  네이버영화순위  29                       타이타닉
29  네이버영화순위  30                     위대한 쇼맨
30  네이버영화순위  31               가나의 혼인잔치: 언약
31  네이버영화순위  32                   인생은 아름다워
32  네이버영화순위  33                         헬프
33  네이버영화순위  34                       매트릭스
34  네이버영화순위  35                     살인의 추억
35  네이버영화순위  36               센과 치히로의 행방불명
36  네이버영화순위  37                   토이 스토리 3
37  네이버영화순위  38                    캐스트 어웨이
38  네이버영화순위  39            잭 스나이더의 저스티스 리그
39  네이버영화순위  40                     히든 피겨스
40  네이버영화순위  41                        태극권
41  네이버영화순위  42                     집으로...
42  네이버영화순위  43                    쉰들러 리스트
43  네이버영화순위  44                      헌터 킬러
44  네이버영화순위  45              반지의 제왕: 왕의 귀환
45  네이버영화순위  46                  죽은 시인의 사회
46  네이버영화순위  47                         레옹
47  네이버영화순위  48                 어벤져스: 엔드게임
48  네이버영화순위  49                        알라딘
49  네이버영화순위  50                      클레멘타인

In [12]:
df.to_excel('네이버영화순위.xlsx', index=False)